USE [master]
GO
/****** Object:  Database [QL_THU_TIEN_DIEN]    Script Date: 26/05/2026 3:36:59 CH ******/
CREATE DATABASE [QL_THU_TIEN_DIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_THU_TIEN_DIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QL_THU_TIEN_DIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_THU_TIEN_DIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QL_THU_TIEN_DIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_THU_TIEN_DIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_THU_TIEN_DIEN]
GO
/****** Object:  Table [dbo].[AREA]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[AreaCode] [varchar](20) NOT NULL,
	[AreaName] [nvarchar](100) NOT NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[BillCode] [varchar](30) NOT NULL,
	[HouseholdID] [int] NOT NULL,
	[ReadingID] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOUSEHOLD]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOUSEHOLD](
	[HouseholdID] [int] IDENTITY(1,1) NOT NULL,
	[HouseholdCode] [varchar](30) NOT NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[AreaID] [int] NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseholdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METER_READING]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METER_READING](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[HouseholdID] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[OldIndex] [decimal](10, 2) NOT NULL,
	[NewIndex] [decimal](10, 2) NOT NULL,
	[Consumption] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [varchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICE_TIER]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE_TIER](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[LevelFrom] [int] NOT NULL,
	[LevelTo] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 26/05/2026 3:37:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AREA] ON 

INSERT [dbo].[AREA] ([AreaID], [AreaCode], [AreaName], [Status], [CreatedAt]) VALUES (1, N'KV01', N'Quận 1', N'ACTIVE', CAST(N'2026-05-25T22:13:22.957' AS DateTime))
INSERT [dbo].[AREA] ([AreaID], [AreaCode], [AreaName], [Status], [CreatedAt]) VALUES (2, N'KV02', N'Quận 3', N'ACTIVE', CAST(N'2026-05-25T22:13:22.957' AS DateTime))
INSERT [dbo].[AREA] ([AreaID], [AreaCode], [AreaName], [Status], [CreatedAt]) VALUES (3, N'KV03', N'Quận 5', N'ACTIVE', CAST(N'2026-05-25T22:13:22.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[AREA] OFF
GO
SET IDENTITY_INSERT [dbo].[BILL] ON 

INSERT [dbo].[BILL] ([BillID], [BillCode], [HouseholdID], [ReadingID], [TotalAmount], [PaymentStatus], [CreatedAt]) VALUES (1, N'HD2026050001', 1, 1, CAST(90500.00 AS Decimal(18, 2)), N'UNPAID', CAST(N'2026-05-26T14:29:11.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[BILL] OFF
GO
SET IDENTITY_INSERT [dbo].[HOUSEHOLD] ON 

INSERT [dbo].[HOUSEHOLD] ([HouseholdID], [HouseholdCode], [OwnerName], [Address], [Phone], [AreaID], [Status], [CreatedAt]) VALUES (1, N'KV01-0001', N'Nguyễn Văn An', N'123 Lê Lợi, Q1', N'0901234567', 1, N'ACTIVE', CAST(N'2026-05-25T22:13:22.997' AS DateTime))
INSERT [dbo].[HOUSEHOLD] ([HouseholdID], [HouseholdCode], [OwnerName], [Address], [Phone], [AreaID], [Status], [CreatedAt]) VALUES (2, N'KV02-0001', N'Trần Thị Bình', N'456 Hai Bà Trưng, Q3', N'0909876543', 2, N'ACTIVE', CAST(N'2026-05-25T22:13:23.000' AS DateTime))
INSERT [dbo].[HOUSEHOLD] ([HouseholdID], [HouseholdCode], [OwnerName], [Address], [Phone], [AreaID], [Status], [CreatedAt]) VALUES (3, N'KV05-0001', N'Lê Văn Cường', N'789 Điện Biên Phủ, BT', N'0912345678', 5, N'ACTIVE', CAST(N'2026-05-25T22:13:23.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HOUSEHOLD] OFF
GO
SET IDENTITY_INSERT [dbo].[METER_READING] ON 

INSERT [dbo].[METER_READING] ([ReadingID], [HouseholdID], [Month], [Year], [OldIndex], [NewIndex], [Consumption], [CreatedAt]) VALUES (1, 1, 5, 2026, CAST(200.00 AS Decimal(10, 2)), CAST(250.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(N'2026-05-26T14:25:39.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[METER_READING] OFF
GO
SET IDENTITY_INSERT [dbo].[PRICE_TIER] ON 

INSERT [dbo].[PRICE_TIER] ([PriceID], [LevelFrom], [LevelTo], [UnitPrice]) VALUES (1, 0, 50, CAST(1810.00 AS Decimal(18, 2)))
INSERT [dbo].[PRICE_TIER] ([PriceID], [LevelFrom], [LevelTo], [UnitPrice]) VALUES (2, 51, 100, CAST(1866.00 AS Decimal(18, 2)))
INSERT [dbo].[PRICE_TIER] ([PriceID], [LevelFrom], [LevelTo], [UnitPrice]) VALUES (3, 101, 200, CAST(2167.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PRICE_TIER] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [Username], [PasswordHash], [FullName], [Role], [Status], [CreatedAt]) VALUES (2, N'manager', N'$2a$10$oLdgpvcDfZM/9z8f7YwJvegOgmSamJD8swaLLNetkiup0kR2kQy0QAMv.zpGy9IrkVKZToFLzl.ZTPNcNrbB4X4gjUVxHGPi1oUm9a4HHAM1uMh8WpI3DWMgdwgEWm6TnqXVS', N'Nguyễn Ngọc Quỳnh Nhi', N'MANAGER', N'ACTIVE', CAST(N'2026-05-25T22:34:30.493' AS DateTime))
INSERT [dbo].[USERS] ([UserID], [Username], [PasswordHash], [FullName], [Role], [Status], [CreatedAt]) VALUES (5, N'staff', N'$2a$10$Tftm5zAFDDFHpwPZE.LRUesDFD52xZuOu39P7vhpYmpYRkicFlOOeVBG9j5xlMgiP/ZcMMTPOaVPYter8dbomj2ER9m6mytc2dv/.l9AOPv7odNIq6qSmsGMBm.60XvI7qXVS', N'Đặng Thị Anh Thư', N'STAFF', N'ACTIVE', CAST(N'2026-05-25T22:35:45.343' AS DateTime))
INSERT [dbo].[USERS] ([UserID], [Username], [PasswordHash], [FullName], [Role], [Status], [CreatedAt]) VALUES (6, N'viewer', N'$2a$10$KtKakLThUNSewNGxew3PHecUimeJMaliLFmO3p0qYYkz1gB60RNKE9lO.DBiabXRreyp7r0oNgKLjlaKoDKsawmO32.AEMeRfMEof3LNix7zV6vtKP1.rGjS88CjZV6pPqXVS', N'Võ Thị Ngọc Điệp', N'VIEWER', N'ACTIVE', CAST(N'2026-05-25T22:36:25.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AREA__72299A272C566979]    Script Date: 26/05/2026 3:37:00 CH ******/
ALTER TABLE [dbo].[AREA] ADD UNIQUE NONCLUSTERED 
(
	[AreaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BILL__1CC9F83E58E60ECF]    Script Date: 26/05/2026 3:37:00 CH ******/
ALTER TABLE [dbo].[BILL] ADD UNIQUE NONCLUSTERED 
(
	[BillCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HOUSEHOL__886067A5AA05A732]    Script Date: 26/05/2026 3:37:00 CH ******/
ALTER TABLE [dbo].[HOUSEHOLD] ADD UNIQUE NONCLUSTERED 
(
	[HouseholdCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_READING]    Script Date: 26/05/2026 3:37:00 CH ******/
ALTER TABLE [dbo].[METER_READING] ADD  CONSTRAINT [UQ_READING] UNIQUE NONCLUSTERED 
(
	[HouseholdID] ASC,
	[Month] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__536C85E48E427933]    Script Date: 26/05/2026 3:37:00 CH ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AREA] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[AREA] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BILL] ADD  DEFAULT ('UNPAID') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[BILL] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HOUSEHOLD] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[HOUSEHOLD] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[METER_READING] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('STAFF') FOR [Role]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([HouseholdID])
REFERENCES [dbo].[HOUSEHOLD] ([HouseholdID])
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([ReadingID])
REFERENCES [dbo].[METER_READING] ([ReadingID])
GO
ALTER TABLE [dbo].[HOUSEHOLD]  WITH CHECK ADD FOREIGN KEY([AreaID])
REFERENCES [dbo].[AREA] ([AreaID])
GO
ALTER TABLE [dbo].[METER_READING]  WITH CHECK ADD FOREIGN KEY([HouseholdID])
REFERENCES [dbo].[HOUSEHOLD] ([HouseholdID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([BillID])
REFERENCES [dbo].[BILL] ([BillID])
GO
USE [master]
GO
